*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 609px;
    height: 732px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
}
.imgBox {
    border: 1px solid #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.imgBox img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
p{
    font-size: 22px;
    margin-bottom: 12px;
}
input{
    width: 340px;
    height: 49px;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 20px;
}
input:focus{
    outline: none;
}
.bigBoxInput {
}
.smallBoxInput {
    margin-bottom: 20px;
}
#send{
    width: 251px;
    height: 50px;
    background-color: #7E55E4;
    font-weight: 600;
    font-size: 22px;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
#send:hover{
    background-color: #643bca;
}
/* .back{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 25px;
    text-decoration: none;
    color: #000;
} */
.back{
    cursor: pointer;
    position: absolute;
    font-size: 35px;
    top: 3px;
    left: 23px;
    transition: transform 1s;
    color: #000;
    text-decoration: none;
}
.back:hover{
    transform: rotate(360deg);
}


.background1{
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
}
.background2{
    background: linear-gradient(140deg,rgba(58, 219, 112, 1) 0%, rgba(76, 169, 129, 1) 100%);
}
.background3{
    background: linear-gradient(140deg,rgba(216, 222, 34, 1) 0%, rgba(244, 152, 61, 1) 100%);
}
.background4{
    background: linear-gradient(140deg,rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid rgba(204, 204, 204, 1);
}
.background5{
    background: linear-gradient(140deg,rgba(107, 107, 107, 1) 0%, rgba(103, 101, 101, 1) 100%);
}
.background6{
    background: linear-gradient(140deg,rgba(0, 149, 255, 1) 0%, rgba(55, 213, 230, 1) 100%);
}
.background7{
    background: linear-gradient(140deg,rgba(151, 215, 251, 1) 0%, rgba(166, 193, 223, 1) 100%);
}
.background8{
    background: linear-gradient(140deg,rgba(133, 26, 56, 1) 0%, rgba(197, 94, 52, 1) 50%, rgba(112, 88, 90, 1) 100%);
}
.background9{
    background: linear-gradient(140deg,rgba(137, 113, 149, 1) 0%, rgba(181, 167, 182, 1) 100%);
}


.blackhon{
    background-color: #404040;
    color: #fff;
}
.blackInput{
    background-color: #514f4f;
}
.whiteColor{
    color: #fff;
}



@media screen and (max-width: 640px) {
    .box{
        width: 70%;
        height: 75%;
    }
}
@media screen and (max-width: 590px) {
    .bigBoxInput{
        width: 100%;
    }
    .smallBoxInput{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    input{
        width: 80%;
        height: 40px;
        font-size: 16px;
    }
    #send{
        width: 200px;
        height: 45px;
    }
}
@media screen and (max-width: 490px) {
    .box{
        width: 95%;
    }
}
@media screen and (max-width: 345px) {
    input{
        font-size: 14px;
    }
}