*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    height: 100vh;
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxInfo {
    height: 80%;
    background-color: #fff;
    width: 40%;
    border-radius: 15px;
    position: relative;
}
h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.boxInfoContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.box {
    width: 85%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #d3cdcd; */
    border-radius: 15px;
    border: 1px solid #c7c4c4;
    padding: 0 5px;
    height: max-content;
}
.boxImgText {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}
.money {
}
.text {
    /* width: 15%; */
    text-align: center;
}
.date {
    width: 15%;
    text-align: center;
    margin-right: 7px;
}

.filter{
    font-size: 20px;
    margin-left: 7%;
}
select{
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}
.back{
    cursor: pointer;
    position: absolute;
    font-size: 35px;
    top: 3px;
    left: 23px;
    transition: transform 1s;
    color: #000;
    text-decoration: none;
}
.back:hover{
    transform: rotate(360deg);
}
.background1{
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
}
.background2{
    background: linear-gradient(140deg,rgba(58, 219, 112, 1) 0%, rgba(76, 169, 129, 1) 100%);
}
.background3{
    background: linear-gradient(140deg,rgba(216, 222, 34, 1) 0%, rgba(244, 152, 61, 1) 100%);
}
.background4{
    background: linear-gradient(140deg,rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid rgba(204, 204, 204, 1);
}
.background5{
    background: linear-gradient(140deg,rgba(107, 107, 107, 1) 0%, rgba(103, 101, 101, 1) 100%);
}
.background6{
    background: linear-gradient(140deg,rgba(0, 149, 255, 1) 0%, rgba(55, 213, 230, 1) 100%);
}
.background7{
    background: linear-gradient(140deg,rgba(151, 215, 251, 1) 0%, rgba(166, 193, 223, 1) 100%);
}
.background8{
    background: linear-gradient(140deg,rgba(133, 26, 56, 1) 0%, rgba(197, 94, 52, 1) 50%, rgba(112, 88, 90, 1) 100%);
}
.background9{
    background: linear-gradient(140deg,rgba(137, 113, 149, 1) 0%, rgba(181, 167, 182, 1) 100%);
}


.blackhon{
    background-color: #404040;
    color: #fff;
}
.whiteColor{
    color: #fff;
}
.blackBorder{
    border: 1px solid #5b5b5b
}
.blackSelect{
    background-color: #404040;
    color: #fff;
}

@media screen and (max-width: 1440px) {
    .boxInfo {
        width: 576px;
    }
}
@media screen and (max-width: 655px) {
    h1{
        font-size: 40px;
    }
    .boxInfo {
        width: 500px;
    }
    .date{
        margin-right: 20px;
    }
}
@media screen and (max-width: 530px) {
    .boxInfo{
        width: 450px;
    }
}
@media screen and (max-width: 480px) {
    .boxInfo{
        width: 95%;
    }
    .box{
        width: 95%;
    }
    .filter{
        margin-left: 3%;
    }
}
@media screen and (max-width: 420px) {
     .date{
        margin-right: 25px;
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 320px) {
    .boxImgText{
        gap: 7px;
    }
}





.bigwrap{
    height: max-content;
    padding: 30px 0;
}
.bigBox{
    height: max-content;
    padding: 20px 0;
}

