*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter",sans-serif;
}

.wrapper{
    height: 100vh;
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box{
    width: 1240px;
    height: 785px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 4px 70px 0 rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.input input{
    width: 394px;
    height: 49px;
    border: 2px solid #000000;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
}

.input{
    margin-bottom: 20px;
    
}
.input p{
    font-size: 20px;
    margin-bottom: 10px;
}
#send{
    width: 291px;
    height: 50px;
    background-color: #7E55E4;
    font-weight: 600;
    font-size: 22px;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
#send:hover{
    background-color: #643bca;
}
.img{
    position: absolute;
    left: 750px;
    top: 330px;
}

.logo_box{
    position: absolute;
    display: flex;
    gap: 18px;
    align-items: center;
    top: 30px;
    left: 25px;
}

.logo_box img{
    width: 75px;
    height: 75px;
}



.message{
    position: absolute;
    background-color: #fff;
    top: 0;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, -100%);
    /* transform: translateX(-50%) !important; */
    border-radius: 0 0 10px 10px;
}

.animationMessageStart{
    animation: message 2s both;
}

@media screen and (max-width: 1440px) {
    .box{
        width: 80%;
        height: 75%;
    }
    .img{
        top: 40%;
        left: 65%;
        width: 350px;
        z-index: 1;
    }
    input, button{
        position: sticky;
        z-index: 2;
    }
}
@media screen and (max-width: 1180px) {
    .img{
        top: 45%;
        left: 62%;
        /* width: 35%; */
        width: 350px;
    }
}
@media screen and (max-width: 1055px) {
    .img{
        top: 52%;
        width: 310px;
    }
}
@media screen and (max-width: 940px) {
    .img{
        top: 56%;
        width: 290px;
    }
}
@media screen and (max-width: 890px) {
    .img{
        display: none;
    }
}
@media screen and (max-width: 630px) {
    .box{
        width: 90%;
        height: 65%;
    }
}
@media screen and (max-width: 490px) {
    .input input{
        width: 330px;
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    .input input{
        width: 280px;

    }
    #send{
        width: 215px;
    }
    .box{
        width: 95%;
    }
}



@keyframes message{
    0%{
        transform: translate(-50%, -100%);
    }
    100%{
        transform: translate(-50%, 0);
    }
}