*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
a{
    color: #000;
    text-decoration: none;
}
input:focus{
    outline: none;
}
.wrapper {
    height: 100vh;
}
.headerLogoImg{
    width: 50px;
    height: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
}
.box_imgName {
    display: flex;
    align-items: center;
    gap: 20px;
}
.myName{
    /* color: #000; */
    font-size: 30px;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 600;
}
.logomonobank{
    /* color: #000; */
    font-size: 48px;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 900;
}


.main {
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
    height: 92.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}



.BoxModal{
    display: none;
}




.cardBox {
    width: 709px;
    height: 445px;
    background-color: #fff;
    border-radius: 42px;
    background: url('../img/main/cards/styleCard.png') no-repeat;
    background-size: cover;
    color: #fff;
}
.menuBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1135px;
    height: 370px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 31px 0 rgba(0,0,0,.65);
}
.button{
    width: 513px;
    height: 89px;
    background-color: #D5D6DF;
    font-size: 30px;
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 24px;
    text-align: start;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.button:hover{
    background-color: #c9cace;
}
.menuBox button img{
    margin-right: 38px;
}
.menuBox a img{
    margin-right: 38px;
}

.cardBox-top {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    margin-bottom: 57px;
    margin-top: 19px;
}
.cardBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardBox p{
    color: #fff;
    
    
}
.moneyText, #numberCard{
    font-style: normal;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 38px;
}
.cardBox-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visa{
    font-size: 70px;
    margin-right: 20px;
}
.cardBox .logomonobank{
    color: #fff;
}
#numberCard{
    margin: 0 10px;
    /* margin-bottom: 190px; */

}


.changesDataBox {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 303px;
    top: 0;
    left: 13px;
}
.changesDataBox h1{
    text-align: center;
    margin-bottom: 10px;
}
.changesDataBoxButton{
    width: 205px;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    border: 1px solid #000;
    background-color: #D5D6DF;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    color: #000;
}
.changesDataBoxButton a{
    text-decoration: none;
}
.changesDataBoxImg{
    margin-bottom: 20px;
    width: 75px;
}
.backgroundBox{
    display: flex;
    justify-content: space-around;
}
.background {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    cursor: pointer;
}
.white{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(166,165,165,1) 100%);
}
.black{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(116,111,111,1) 100%);
}

.changesIconBox{
    width: 211px;
    top: 72px;
    left: 51px;
    height: 158px;
    position: absolute;
    background-color: #fff;
}
.changesIconBox img{
    cursor: pointer;
}

.cat {
    position: absolute;
    left: 1510px;
    top: 490px;
}
.pizzaCat{
    position: absolute;
}


















/* .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 700px;
    height: 700px;
    background-color: #fff;
    border-radius: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
/* } */

.modal h1{
    font-size: 48px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    margin-bottom: 18px;
}
.limit{
    color: #434242;
    font-size: 32px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}
.modal input{
    width: 347px;
    height: 51px;
    border-radius: 15px;
    /* border: 1px solid #000; */
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    background-color: #00000000;
}
.modal button{
    width: 196px;
    height: 54px;
    border-radius: 15px;
    font-size: 24px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    background-color: #D5D6DF;
    border: none;
    cursor: pointer;
    color: #000;
}
.modalContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30% 0;
}



.card{
    padding: 10px;
    
    border-radius: 15px;
}

.card img{
    width: 300px;
    height: 200px;
}
.activCard{
    border: 4px solid #b90f94;
    border-radius: 21px;
    padding: 0;
}




.message{
    position: absolute;
    top: 0;
    left: 50%;
    /* transform: translate(0, 10%); */
    background-color: #fff;
    width: 400px;
    height: 100px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-top: none;
    transform: translate(-50%, -100%);
    z-index: 1060;
}
.messageText{
    text-align: center;
    /* font-size: 25px; */
}


.fundsTransferContent {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 20px;
}
.fundsTransferContentLeft::after{
    content: "\2192";
    font-size: 31px;
    padding: 0 10px;
}
.fundsTransferContent img{
    align-self: center;
}
.fundsTransferContentLeft {
    input{
        width: 100px;
        height: 40px;
        padding: 0 5px;
        margin: 0;
        border-radius: 5px;
        font-size: 16px;
    }
    p{
        font-size: 22px;
    }
}
.fundsTransferContentRight {
    align-self: flex-end;
    p{
       padding: 10px 30px;
       border: 2px inset light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) ;
       border-radius: 5px;
    } 
}
.select{
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    background-color: #fff;
}

















.animationMessageStart{
    animation: message 1s both;
}
/* .animationMessageFinish{
    animation-direction: reverse;
    animation-fill-mode: none;
} */





.modal{
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display:flex;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
}

.modal__dialog{
    /* max-width: 500px;
    margin: 40px auto; */

}
.modalContent{
    position:relative;
    /* width: 600px; */
    width: 550px;
    /* padding:150px 40px; */

    background-color:#fff;
    /* border:1px solid rgba(0,0,0,.2); */
    border-radius:10px;
    /* height: 800px; */
    height: 650px;
    /* height: max-content; */
    /* overflow-y:auto */
}
.modal__close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#000;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer;
    transition: all 1s;
}
.modal__close:hover{
    transform: rotate(180deg);
}
.modal__title{text-align:center;
    font-size:22px;
    text-transform:uppercase
}
.modal__input{
    display:block;
    margin:20px auto 20px auto;
    width:280px;
    height:50px;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    border:none;
    font-size:18px;
    text-align:center;
    padding:0 20px;
    outline:0
}


.modalchangeCardBox{
    width: max-content;
}
.modalchangeCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    /* justify-content: flex-start; */
    gap: 15px;

}

.changeStyleModalButton{
    margin-bottom: 20px;
    
}
.changeStyleModalButton img{cursor: pointer;}
.changeStyleModalButton img:hover{
    filter: invert(14%) sepia(19%) saturate(13%) hue-rotate(346deg) brightness(94%) contrast(83%);
    /* color: #333333; */
}
.changeStyleModalButton img:not(:last-child){
      margin-right: 20px;  
}
.iconBackroundButton2{
    width: 36px;
}
.boxstyleCard{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 45px;
    justify-content: center;
    margin-bottom: 20px;
}
.boxstyleCardImg{
    width: 106px;
    height: 67px;
    border-radius: 10px;
}
.cardImg{
    width: 216px;
    height: 136px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.boxstylelogo{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 45px;
    margin-bottom: 20px;
}

.modalLogoImg{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.background{
    border-radius: 50px;
}
.boxStyleLogoImg{
    width: 60px;
    height: 60px;
}
.boxstyleBackground{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    gap: 35px;
    margin-bottom: 20px;
}
.lookBackground{
    width: 250px;
    height: 100px;
    /* background-color: #000; */
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
    margin-bottom: 30px;
}
.background1{
    background: linear-gradient(130deg, rgba(150,28,193,1) 0%, rgba(105,93,241,1) 100%);
}
.background2{
    background: linear-gradient(140deg,rgba(58, 219, 112, 1) 0%, rgba(76, 169, 129, 1) 100%);
}
.background3{
    background: linear-gradient(140deg,rgba(216, 222, 34, 1) 0%, rgba(244, 152, 61, 1) 100%);
}
.background4{
    background: linear-gradient(140deg,rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border: 1px solid rgba(204, 204, 204, 1);
}
.background5{
    background: linear-gradient(140deg,rgba(107, 107, 107, 1) 0%, rgba(103, 101, 101, 1) 100%);
}
.background6{
    background: linear-gradient(140deg,rgba(0, 149, 255, 1) 0%, rgba(55, 213, 230, 1) 100%);
}
.background7{
    background: linear-gradient(140deg,rgba(151, 215, 251, 1) 0%, rgba(166, 193, 223, 1) 100%);
}
.background8{
    background: linear-gradient(140deg,rgba(133, 26, 56, 1) 0%, rgba(197, 94, 52, 1) 50%, rgba(112, 88, 90, 1) 100%);
}
.background9{
    background: linear-gradient(140deg,rgba(137, 113, 149, 1) 0%, rgba(181, 167, 182, 1) 100%);
}




.blackhon{
    background-color: #404040;
    color: #fff;
}
.blackhon input{
    color: #fff;
}
.blackhonbutton{
    background-color: #5A585C !important;
    color: #fff !important;
}
.blackhonbutton:hover{
    background-color: #4e4c50 !important;
}
.filterImgBlack{
    filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(18%) hue-rotate(337deg) brightness(103%) contrast(107%);
}
.filterImgBlack:hover{
    filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(218%) hue-rotate(241deg) brightness(88%) contrast(101%) !important;
}
.whiteColor{
    color: #fff;
}
.blackColor{
    color: #000000bd   !important;
}
.selectBlack{
    background-color: #404040;
    color: #fff;
}
.limitBlack{
    color: #c1c1c1;
}
.messageBlack{
    background-color: #4b4b4b;
    border: none;
    color: #fff;
}

.back{
    cursor: pointer;
    position: absolute;
    font-size: 35px;
    top: 3px;
    left: 23px;
    transition: transform 1s;
    /* color: #000; */
}
.back:hover{
    transform: rotate(360deg);
}
.boxstyleBackground2{
    display: flex;
    gap: 50px;
}



@media screen and (max-width: 1440px) {
    body{
        overflow: auto;
    }
    .main{
        height: 100%;
        padding-bottom: 20px;
    }
    .cardBox{
        margin-top: 20px;
    }
    .message{
        height: 80px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1180px) {
    .menuBox{
        width: 1000px;
    }
    .button{
        width: 455px;
    }
    .visa{
        font-size: 60px;
    }
}
@media screen and (max-width: 1024px) {
    .wrapper{
        height: max-content;
    }
    .main{
        padding-bottom: 30px;
    }
    .menuBox{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        height: max-content;
        padding: 20px 0;
        width: 730px;
    }
    .button{
        width: 660px;
        height: 70px;
        font-size: 25px;
        /* justify-content:  flex-start; */
    }
    .button img{
        height: 40px;
    }
    .cardBox{
        width: 600px;
        height: 350px;
    }
    #numberCard{
        font-size: 30px;
    }
    .visa{
        font-size: 50px;
    }
    .logomonobank{
        font-size: 35px;
    }
    .myName{
        font-size: 25px;
    }
    .moneyText{
        font-size: 30px;
    }
    .card img{
        width: 240px;
        height: 165px;
    }
}

@media screen and (max-width: 830px) {
    .card img {
        width: 200px;
        height: 135px;
    }
    .modal button{
        font-size: 22px;
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .BoxModal{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .cardBoxModal{
        perspective: 2000px;
        transform-style: preserve-3d;
    }
    .cardBox{
        transform: rotateX(60deg);
        /* box-shadow: 2px 39px 29px -5px rgba(66,66,66,0.49); */
        /* box-shadow: 2px 39px 26px 16px rgba(66,66,66,0.87); */
        /* box-shadow: 
            0px 38px 0px -14px rgba(74,43,12,0.87),
            0px 50px 0px -14px rgba(82,52,31,0.87); */


            /* 0px 38px 0px -14px rgba(59, 90, 71, 0.87),
            0px 38px 0px -14px rgba(59, 90, 71, 0.87),
            2px 39px 21px 2px rgba(66,66,66,0.87); */
        width: 500px;
        height: 300px;
        /* position: fixed; */
        /* z-index: 1000; */
    }
    .modalMoneyText{
        transform: translateY(70px);
        font-size: 45px;
    }
    .menuBox{
        width: 625px;
    }
    .button{
        width: 550px;
    }
    .modalContent{
        width: 475px;
    }

    .modal h1{
        font-size: 30px;
    }
    .modal input{
        width: 270px;
        height: 40px;

    }
    .modal button{
        width: 175px;
        height: 38px;
        font-size: 20px;
    }
    .card img {
        width: 235px;
        height: 140px;
    }
    #inputNumber{
        width: 100px;
    }
    .message{
        width: 322px;
    }
    .messageText{
        font-size: 25px;
    }
}

@media screen and (max-width: 655px) {
    .button{
        width: 420px;
        height: 55px;
        border-radius: 20px;
    }
    .menuBox{
        width: 480px;
    }
    .cardBox{
        width: 442px;
        height: 290px;
    }
    .visa{
        font-size: 40px;
    }
    #numberCard{
        font-size: 20px;
    }
    .modalContent{
        /* height: 555px; */
        width: 430px;
    }
}

@media screen and (max-width: 510px) {
    .menuBox{
        width: 380px;
    }
    .button{
        width: 330px;
        height: 48px;
        font-size: 20px;
    }
    .cardBox{
        width: 358px;
        height: 230px;
    }
    .modalMoneyText{
        font-size: 35px;
    }
    .menuBox button img{
        margin-right: 20px;
    }
}


@media screen and (max-width: 450px) {
    .modalContent{
        width: 405px;
    }
    .boxstyleCard{
        gap: 20px;
    }
}

@media screen and (max-width: 425px) {
    .logomonobank{
        display: none;
    }
    /* .box_imgName{
        width: 100%;
        justify-content: space-between;
    } */
    /* .backgroundBlock{
        justify-content: flex-end;
    } */
    .menuBox{
    width: 315px;
    }
    .button{
        width: 280px;
        font-size: 16px;
    }
    .modalMoneyText{
        transform: translateY(55px);
    }
    header{
       height: 50px; 
    }
    .headerLogoImg{
        height: 40px;
        width: 40px;
    }
    .cardBox{
        transform: rotateX(51deg);
        width: 315px;
        height: 205px;
    }
    .visa{
        font-size: 30px;
    }
    #numberCard{
        font-size: 18px;
    }
    .main{
        height: 94vh;
    }
    .boxstyleCard{
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(5, max-content);
    }
    .modalContent{
        height: max-content;
        padding: 20px 0;
        width: 360px;
    }
    .back{
        top: 0px;
        left: 15px;
    }
}

@media screen and (max-width: 380px) {
    .modalContent{
        width: 330px;
    }
    .lookBackground{
        width: 150px;
    }
    .cardImg{
        width: 180px;
        height: 110px;
    }
    .modal h1{
        font-size: 25px;
    }
    .modal__close{
        top: 0px;
        right: 4px;
    }
    .message{
        width: 265px;
        height: 65px;
    }
    .messageText{
        font-size: 25px;
    }
}

@media screen and (max-width: 350px) {
    .modalContent{
        width: 300px;
    }
    .limit{
        text-align: center;
    }
}
@media screen and (max-width: 340px) {
    .menuBox{
        width: 300px;
    }
    .button{
        height: 45px;
    }
    .cardBox{
        width: 300px;
    }
}

.none{
    display: none;
}

@keyframes message{
    0%{
        transform: translate(-50%, -100%);
    }
    100%{
        transform: translate(-50%, 0);
    }
}
